.main {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.pdfContainer {
  width: 90%;
  max-width: 90vw;
  border-radius: 12px;
  height: 800px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
